.reptiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px; 
    text-align: center;
    background-color:deeppink
  }
  
  .reptiles-container img {
    max-width: 100%;
    height: auto;
  }
  
  .reptiles-container {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .reptiles-container {
    text-decoration: none;
    color: #0077b6; 
  }
  